<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/index_style.css}"/>
    <link rel="script" th:href="@{/static/js/index.js}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>


<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">DB tool page</h1>
        <p class="lead">Only for testing goals and not for production.</p>
    </div>
</div>

<div class="btn-group" role="toolbar" th:method="get">
    <button type="submit" th:action="@{/tools/dbtool/status}" class="btn btn-secondary">Statuses</button>
    <button type="submit" th:action="@{/tools/dbtool/role}" class="btn btn-secondary" >Roles</button>
    <button type="submit" th:action="@{/tools/dbtool/project}" class="btn btn-secondary">Projects</button>
    <button type="submit" th:action="@{/tools/dbtool/project_role}" class="btn btn-secondary">ProjectRoles</button>
    <button type="submit" th:action="@{/tools/dbtool/comment}" class="btn btn-secondary">Comments</button>
    <button type="submit" th:action="@{/tools/dbtool/task}" class="btn btn-secondary">Tasks</button>
    <button type="submit" th:action="@{/tools/dbtool/user}" class="btn btn-secondary">Users</button>
</div>
<div class="list-group ">
    <hr>
    <ul class="list-group">
        <li class="list-group-item" th:each="row : ${elems}" th:text="${row}"></li>
    </ul>
</div>


</body>
</html>