<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Projman</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" type="image/png" th:href="@{/images/icons/main.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/ready.css}">
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">
            <a href="main_form.html" class="logo">
                PROJMAN
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">

                <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                    <div class="input-group">
                        <input type="text" placeholder="Search ..." class="form-control">
                        <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img th:src="@{/images/login_avatar.png}" alt="user-img" width="36" class="img-circle"><span th:utext="${user_pref.userLogin}"></span></span> </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="u-img"><img th:src="@{/images/login_avatar.png}" alt="user"></div>
                                    <div class="u-text" th:utext="${user_pref.userLogin}">
                                        <p class="text-muted">hello@themekita.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="ti-settings"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a href="main_form.html">
                        <i class="la la-dashboard"></i>
                        <p>Projects</p>
                        <span class="badge badge-count">5</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="components.html">
                        <i class="la la-table"></i>
                        <p>Dashboard</p>
                        <span class="badge badge-count">14</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">Dashboard</h4>

                <table border="1">
                    <tr th:each="project : ${projects}">
                        <div class="row row-card-no-pd">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Project</h4>
                                        <p class="card-category" th:utext="${project.name}"></p>
                                    </div>
                                    <div class="card-body">
                                        <div id="task-complete" th:utext="${project.description}"></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="legend"><i class="la la-circle text-primary" ></i> In Progress</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:src="@{/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/ready.min.js}"></script>
</html>