<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Projman</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" type="image/png" th:href="@{/images/icons/main.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/ready.css}">
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">
            <a th:href="@{/main/main_page}" class="logo">
                PROJMAN
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">

                <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                    <div class="input-group">
                        <input type="text" id="search_input" placeholder="Search ..." class="form-control">
                        <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img th:src="@{/images/login_avatar.png}" alt="user-img" width="36" class="img-circle"><span th:utext="${user_pref.userLogin}"></span></span> </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="u-img"><img th:src="@{/images/login_avatar.png}" alt="user"></div>
                                    <div class="u-text" th:utext="${user_pref.userLogin}">
                                        <p class="text-muted">hello@themekita.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/main/logout"><i class="fa fa-power-off"></i>Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a th:href="@{/main/main_page}">
                        <i class="la la-dashboard"></i>
                        <p>Projects</p>
                        <span class="badge badge-count" th:utext="${projects_number}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title" id="task_number_text" th:utext="Task + ' #' + ${task.id}"></h4>
                <a th:href="@{/main/project_page?project_id={id}(id=${task.projectId.id})}" class="card-category" th:utext="Project + ' #' + ${task.projectId.id}"></a>
                <div id='project_tasks'>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <h4 class="card-title" th:utext="${task.subject}"></h4>
                                            </td>
                                            <td align="right">
                                                <span><button class="btn btn-info" style="width: 130px; margin-right: 20px;">Log Work</button></span>
                                                <span th:switch="${task.statusId.name}">
                                                    <button class="btn btn-success" id="progress_change_button" style="width: 130px;" th:case="'Assigned'">In Progress</button>
                                                    <button class="btn btn-primary" id="progress_change_button" style="width: 130px;" th:case="'In Progress'">Completed</button>
                                                    <button class="btn btn-success" id="progress_change_button" style="width: 130px;" th:case="'Completed'">In Progress</button>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-body">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 80%">
                                                <p class="card-category" th:utext="${task.subject}"></p>
                                            </td>
                                            <td style="width: 20%">
                                                <h2 class="card-title"> People </h2>
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td style="width: 40%">
                                                            <div>Assignee: </div>
                                                            <div style="color: #FFFFFF;">:-)</div>
                                                            <div>Reporter: </div>
                                                        </td>
                                                        <td style="width: 60%">
                                                            <div th:utext="${task.assigneId.name} + ' ' + ${task.assigneId.secondName}"></div>
                                                            <a th:href="@{/main/assign_to_me?task_id={id}(id=${task.id})}">Assign to me</a>
                                                            <div th:utext="${task.createdBy.name} + ' ' + ${task.createdBy.secondName}"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p></p>
                                                <p></p>
                                                <h2 class="card-title"> Dates </h2>
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td style="width: 40%">
                                                            <div>Created: </div>
                                                            <div>Due: </div>
                                                            <div>Logged: </div>
                                                        </td>
                                                        <td style="width: 60%">
                                                            <div th:utext="${task.creationDate}"></div>
                                                            <div th:utext="${task.dueDate}"></div>
                                                            <div th:utext="${task.usedTime} + 'h'"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:src="@{/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/ready.min.js}"></script>
<script>
    progress_change_button.onclick = function()
	{
	    let currButton = $(this);
	    let nextStatus = "";
	    let nextText = "";

	    let currClass = ""
	    let futureClass = ""
	    /*if($(this).html().toLowerCase() == "assigned"){
	        nextStatus = "In Progress";

	        currClass="btn-default"
	        futureClass="btn-success"
	    } else*/


	    if($(this).html().toLowerCase() == "in progress"){
	        nextStatus = "In Progress";
	        nextText = "Completed"

	        currClass="btn-success"
	        futureClass="btn-primary"
	    } else if($(this).html().toLowerCase() == "completed"){
	        nextStatus = "Completed";
            nextText = "In Progress"

	        currClass="btn-primary"
	        futureClass="btn-success"
	    }
		$.ajax({
			url: '/api/update_task_status',
			type: 'GET',
			data: "task_id=" + window.location.href.slice(window.location.href.indexOf("task_id=")+8) + "&status_name=" + nextStatus,
			success:function(response){
				currButton.html(nextText);
				currButton.removeClass(currClass);
				currButton.addClass(futureClass);
			},
		});
	}


</script>

</html>