<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Projman</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" type="image/png" th:href="@{/images/icons/main.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/ready.css}">
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">
            <a th:href="@{/main/main_page}" class="logo">
                PROJMAN
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img th:src="@{/images/login_avatar.png}" alt="user-img" width="36" class="img-circle"><span th:utext="${user_pref.userLogin}"></span></span> </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="u-img"><img th:src="@{/images/login_avatar.png}" alt="user"></div>
                                    <div class="u-text" th:utext="${user_pref.userLogin}">
                                        <p class="text-muted">hello@themekita.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/main/logout"><i class="fa fa-power-off"></i>Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a th:href="@{/main/main_page}">
                        <i class="la la-dashboard"></i>
                        <p>Projects</p>
                        <span class="badge badge-count" th:utext="${projects.size()}" ></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">Projects List</h4>
                <div id='project_items'>
                    <table border="1">
                        <tr th:each="project : ${projects}">
                            <div class="row row-card-no-pd">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title" th:utext="${project.name}"></h4>
                                            <a th:href="@{/main/project_page?project_id={id}(id=${project.id})}" class="card-category" >View Project</a>
                                        </div>
                                        <div class="card-body">
                                            <div id="task-complete" th:utext="${project.description}"></div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="legend" th:utext="${project.managerName}">...</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card card-stats">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-smile-o text-primary"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Employees</p>
                                                        <h4 class="card-title" th:utext="${project.employeeCount}">...</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-5">
                                    <form>
                                        <div th:each="projectRole: ${projectRoles}">
                                            <p th:if="${project.id == projectRole.projectId.id}">
                                                <span th:utext="${projectRole.userId.name} + ' ' + ${projectRole.userId.secondName}"></span>
                                                <label class="form-radio-label">
                                                    <input class="form-radio-input" type="radio" th:name="${projectRole.projectId.id} + '_' + ${projectRole.userId.id}" value="manager" th:checked="${projectRole.roleId.name == 'Manager'}">
                                                    <span class="form-radio-sign">Manager</span>
                                                </label>
                                                <label class="form-radio-label">
                                                    <input class="form-radio-input" type="radio" th:name="${projectRole.projectId.id} + '_' + ${projectRole.userId.id}" value="employee" th:checked="${projectRole.roleId.name == 'Employee'}">
                                                    <span class="form-radio-sign">Employee</span>
                                                </label>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>





</body>

<script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:src="@{/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/ready.min.js}"></script>
</html>